{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <title>Create Booking</title>
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <!-- class may be error or success -->
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{form.room_type.label_tag}}
        {% render_field form.room_type hx-post="/verify/" hx-trigger="change" hx-target="#status" %}
        <br>
        {{form.check_in.label_tag}}
        {% render_field form.check_in hx-post="/verify/" hx-trigger="change" hx-target="#status" %}
        <br>
        {{form.check_out.label_tag}}
        {% render_field form.check_out hx-post="/verify/" hx-trigger="change" hx-target="#status" %}
        <div id="status"></div>
        <button type="submit">Book</button>
    </form>

{% endblock %}