{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<title>Change Password</title>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<h1 class="headingg">Change Password</h1>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="input-field">
            <label for="password"><b>Old Password</b></label>
            <br>
            {{form.old_password}}
            <i class="fa-sharp fa-solid fa-lock" id="icon"></i>
        </div>
        <div class="input-field">
            <label for="password"><b>New Password</b></label>
            <br>
            {{form.new_password1}}
            <i class="fa-sharp fa-solid fa-lock" id="icon"></i>
        </div>
        <div class="input-field">
            <label for="password"><b>Confirm New Password</b></label>
            <br>
            {{form.new_password2}}
            <i class="fa-sharp fa-solid fa-lock" id="icon"></i>
        </div>
        <button type="submit">Change</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}