<div class="signup-form">
    <form action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="row">
            <div class="col-8 offset-4">
                <h2>Change Password</h2>
            </div>	
        </div>			
        <div class="form-group row">
            <label class="col-form-label col-4">Old Password</label>
            <div class="col-8">
                {{form.old_password}}
            </div>        	
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4"> New Password</label>
            <div class="col-8">
                {{form.new_password1}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-4"> Confirm Password</label>
            <div class="col-8">
                {{form.new_password2}}
            </div>
        </div>
        
            <div class="col-8 offset-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div> 
            {{form.errors}} 
    </form>
    <hr>