{% load static %}
<nav>
    <img src="{% static 'images/raasta.jpeg' %}" alt="" class="logo">
    <ul class="nav-links">
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            <li><a href="{% url 'change_password' %}">Change Password</a></li>
        {% else %}
            <li><a href="{% url 'login' %}">Login Hotel</a></li>
            <li><a href="{% url 'register' %}">Register Hotel</a></li>
            <li><a href="{% url 'glogin' %}">Login User</a></li>
            <li><a href="{% url 'gregister' %}">Register User</a></li>
            <li><a href="{% url 'browse_hotels' %}">Browse Hotels</a></li>
        {% endif %}
    </ul>
</nav>