.reservation-item {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
  }
  
  /* Style for cancel button */
  .cancel-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* background-color: #333; */
    background-color: #192039;
    /* background-color:  #222; */
    color: white;
    padding-right: 40px;
}

.navbar-links{
    height: 100%;
}

.brand-title{
    margin: 0rem;
}

/* img.logo{
    height: 80px;
    width: 25%;
    margin-left: 10px;
} */
img.logo{
    /* display: block;
    float: left; */
    height: 70px;
    width: 25%;
    margin-left: 0px;
    margin-bottom: -3px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}



.footer {
    /* background-color: #222; */
    background-color: #192039;
    color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
  }
  
  .webpagefoot {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    font-size: 16px;
    margin: 0;
    margin-top: 20px; 
  }
  

  .social-icons {
    display: flex;
    margin-bottom: 20px; /* add some margin to separate the icons and the text */
  }
  
  .social-icons a {
    color: #fff;
    font-size: 25px;
    margin-right: 15px;
  }
  
  .social-icons a:hover {
    color: #dc3545;
  }
  
  .fa-facebook-f {
    color: #3b5998;
  }
  
  .fa-twitter {
    color: #1da1f2;
  }
  
  .fa-instagram {
    color: #e1306c;
  }
  
  .fa-linkedin {
    color: #0077b5;
  }