.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
    padding-right: 40px;
    padding-left: -10px;
}

.navbar-links{
    height: 100%;
}

.brand-title{
    margin: 0rem;
}

img.logo{
    height: 70px;
    width: 25%;
    margin-left: 0px;
    margin-bottom: -3px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.footer {
    background-color: black;
    color: #fff;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    
  }
  
  .webpagefoot {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer p {
    font-size: 16px;
    margin: 0;
  }
  

  .social-icons {
    display: flex;
    margin-bottom: 20px; 
  }
  
  .social-icons a {
    color: #fff;
    font-size: 25px;
    margin-right: 15px;
  }
  
  .social-icons a:hover {
    color: #dc3545;
  }
  
  .fa-facebook-f {
    color: #3b5998;
  }
  
  .fa-twitter {
    color: #1da1f2;
  }
  
  .fa-instagram {
    color: #e1306c;
  }
  
  .fa-linkedin {
    color: #0077b5;
  }


body {
margin: 0;
font-family: Arial, sans-serif;
background-color: #F0EDE3;
position: relative;
min-height: 100vh;
box-sizing: border-box;
}



.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

iframe{
    width: 80%;
    height: 500px;
}

h1{
    color: black;
    margin-bottom: 20px;
    margin-top: -100px;
}
h3{
    color: black;
    margin-top: 20px;
    margin-bottom: -10px;
}
#addr{
    color: black;
}


@media (max-width: 800px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    /* display: flex;
    justify-content: center; */
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    width: 100%;
    flex-direction: column;
}

.navbar-links ul li {
    text-align: center;
}

.navbar-links ul li a {
    padding: .5rem 1rem;
}

.navbar-links.active {
    display: flex;
}

body{
  margin: 0;
}

.webpagefoot {
  max-width: 100%;
  }
  
  .footer {
  /* background-color: black;
  color: #fff;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  width: 100%; */


  background-color: black;
  color: #fff;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  }
  
  .footer p {
  font-size: 14px;
  text-align: center;
  }
  
  .social-icons {
  margin-bottom: 10px;
  }
  
  .social-icons a {
  font-size: 20px;
  margin-right: 10px;
  }

}